<input type="text" >
<input type="button" name="postBtn" style="height:30px"  value="Enviar" (click)="imprimir()">
{{ retPostData }}
{{ datosMostrar.FstVarValues}}
<br>
<hr>

<input type="button" name="GetBtn" style="height:30px" value="Enviar" (click)="GetData()" >
{{ retGetData }}
<br>
<hr>

<input type="button" name="PutBtn" style="height:30px" value="Editar" (click)="PutData()" >
<br>
<hr>

<input type="button" name="DeleteBtn" style="height:30px" value="Eliminar" (click)="DeleteData()">
<br>
<hr>
